# Time Series
Anything that can be observed or measured at many points in time forms a **time series**.  

## Python Standard Library
Basic date and time classes:  
  
### class datetime.date
Attributes: year, month, and day
  
### class datetime.time
Attributes: hour, minute, second, microsecond, and tzinfo.  
 
### class datetime.datetime
  
*datetime* stores both date and time down to microsecond (a combination of a date and a time).  
Attributes: year, month, day, hour, minute, second, microsecond, and tzinfo.
  
### class datetime.timedelta
A duration expressing the difference between two date, time, or datetime instances to microsecond resolution.
  
### class datetime.tzinfo
These are used by the datetime and time classes to provide a customizable notion of time adjustment.

In [1]:
from datetime import datetime
from datetime import date
from datetime import timedelta

import numpy as np
import pandas as pd

***datetime*** stores both the date and time down to the microsecond.

In [2]:
now = datetime.now()
now
# year, month, day, hour, minute, second, microsecond

datetime.datetime(2022, 4, 21, 19, 27, 26, 628019)

In [3]:
now.year, now.month, now.day

(2022, 4, 21)

In [4]:
now.hour, now.minute, now.second, now.microsecond

(19, 27, 26, 628019)

***timedelta*** represents the temporal (time-related) difference between two datetime objects:

In [5]:
# year, month, day, hour, minute
dt1 = datetime(2020, 4, 15, 0, 1)
dt1

datetime.datetime(2020, 4, 15, 0, 1)

In [6]:
dt2 = datetime(2020, 4, 15)
dt2

datetime.datetime(2020, 4, 15, 0, 0)

In [7]:
delta = dt1 - dt2
delta

datetime.timedelta(seconds=60)

In [8]:
delta.days

0

In [9]:
delta.seconds

60

You can add (or subtract) a *timedelta* or multiple thereof to a *datetime* object to yield a new shifted object:

In [10]:
start = datetime(2020, 4, 15)
start

datetime.datetime(2020, 4, 15, 0, 0)

In [11]:
start + timedelta (2) # timedelta is 2 days

datetime.datetime(2020, 4, 17, 0, 0)

In [29]:
start - 2 * timedelta(2) # timedelta is 4 days

datetime.datetime(2020, 4, 11, 0, 0)

### Converting Between String and DateTime

You can format *datetime* objects and pandas *Timestamp* objects, as strings using ***str*** or the ***strftime*** method, passing a format specification:

In [13]:
stamp = datetime(2020, 4, 15)
stamp

datetime.datetime(2020, 4, 15, 0, 0)

Format *datetime* as string

In [14]:
str(stamp)

'2020-04-15 00:00:00'

Format *datetime* object using strftime method, passing a format specification:
#### *strftime (format)* - string FORMAT time  

%Y - Four-digit year  
%y - Two-digit year  
%m - Two-digit month [01, 12]  
%d - Two-digit day [01, 31]  
%H - Hour (24-hour clock) [00, 23]  
%I - Hour (12-hour clock) [01, 12]  
%M - Two-digit minute [00, 59]  
%S - Second [00, 61] seconds 60, 61 account for leap seconds   
%w - Weekday as integer [0 (Sunday), 6]  
%F - shortcut for %Y-%m-%d  
%D - shortcut for %m/%d/%y
  
Documentation: 
https://docs.python.org/2/library/datetime.html#strftime-and-strptime-behavior

In [15]:
stamp.strftime('%y-%m-%d')

'20-04-15'

In [16]:
stamp.strftime('%D')

'04/15/20'

You can use many of the same format codes to convert strings to dates using *datetime.strptime* (some codes, like %F, cannot be used):

#### *strptime* - string PARSE time

In [17]:
datetime.strptime('2020-04-15', '%Y-%m-%d')

datetime.datetime(2020, 4, 15, 0, 0)

Even easier - don't have to specify format:

In [18]:
from dateutil.parser import parse

In [19]:
parse('2020-04-15')

datetime.datetime(2020, 4, 15, 0, 0)

In [20]:
parse('Apr 15, 2020 10:45 AM')

datetime.datetime(2020, 4, 15, 10, 45)

European-style dates:

In [21]:
parse('30/11/2018', dayfirst=True)

datetime.datetime(2018, 11, 30, 0, 0)

#### Pandas with Dates
*to_datetime()* method parses date representations

pandas is generally oriented toward working with arrays of dates, **whether used as an axis index or a column in a DataFrame**. The *to_datetime* method parses many different kinds of date representations. Standard date formats like ISO 8601 can be parsed very quickly:

In [31]:
datestrs = ['2018-11-18 12:00:00', '2018-11-19 12:00:00']

ind = pd.to_datetime(datestrs)
ind

DatetimeIndex(['2018-11-18 12:00:00', '2018-11-19 12:00:00'], dtype='datetime64[ns]', freq=None)

## 11.2 Time Series Basics

**Time series** object in *pandas* is a Series object indexed by timestamps, which often respresented external to pandas as Python strings or datetime objects:

In [23]:
#pd.Series([2, 4], index=ind)
ser1 = pd.Series([2, 4], index=[datetime(2018, 11, 18), datetime(2018, 12, 18)])
ser1

2018-11-18    2
2018-12-18    4
dtype: int64

Under the hood, these datetime objects have been put in a ***DatetimeIndex***:

In [24]:
ser1.index

DatetimeIndex(['2018-11-18', '2018-12-18'], dtype='datetime64[ns]', freq=None)

## Assignments
### Assignment 1
Display today's date in the following format:  
  
April 25, '22 (Mon)

### Assignment 2
Before the finals, display the number of days to the start of the final exams on May 18.  

On the day of the final exams start, display 'Finals start!'